<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Interests</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="coding">Coding</a>
            <a href="hiking">Hiking</a>
            <a href="tech">Tech</a>
            <a href="dogs">Dogs</a>
        </div>
    </div>
    <h1 id="greeting"><i class="fas fa-user-secret"></i>Hello!</h1>

    <div class="interest left-layout">
        <img src="static/images/coding/6.jpg" alt="Coding Image">
        <div class="interest-description">
            <h2>Coding</h2>
            <p>For years, I've been captivated by the portrayal of coding in movies and shows, where it exudes an aura of coolness and mystery that's hard to resist. It wasn't until recently that I summoned the courage to take the plunge into the world of coding myself, and looking back, I'm grateful for making that decision—it's opened up a whole new realm of possibilities and excitement for me.</p>
            <a href="/coding">Learn more</a>
        </div>
    </div>

    <div class="interest left-layout">
        <div class="interest-description">
            <h2>Hiking</h2>
            <p>Whenever I need a break or some space to think, I hit up a good, long hiking trail. It's all about getting out there, soaking in nature, and breathing in that fresh air. Nothing beats the feeling of exploring the great outdoors.</p>
            <a href="hiking">Learn more</a>
        </div>
        <img src="/static/images/hiking/1.jpg" alt="Hiking Image">
    </div>

    <div class="interest left-layout">
        <img src="static/images/tech/1.jpg" alt="Tech Image">
        <div class="interest-description">
            <h2>Tech</h2>
            <p>Alright, let me take you back to when I got my hands on my first laptop. It was a game-changer. That feeling of booting it up for the first time was something else. Curiosity got the better of me one day, and I just had to see what made it tick, so I went ahead and took it apart. Seeing the insides was like getting a sneak peek into another world. Ever since then, tech's been my thing, always finding something new to get into or fix up. </p>
            <a href="tech">Learn more</a>
        </div>
    </div>

    <div class="interest left-layout">
        <div class="interest-description">
            <h2>Dogs</h2>
            <p>Hey folks! Dogs are incredible, aren't they? They've always been a big part of my life, sparking countless happy moments and making a real difference for me, my family, and friends. Whether I'm chilling with my own dog or helping train others, there's nothing like the good vibes dogs bring into my day.</p>
            <a href="dogs">Learn more</a>
        </div>
        <img src="static/images/dogs/6.jpg" alt="Dogs Image">
    </div>

    <script src="static/js/main.js"></script>
</body>
</html>
