<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="coding">Coding</a>
            <a href="hiking">Hiking</a>
            <a href="tech">Tech</a>
            <a href="dogs">Dogs</a>
        </div>
    </div>
    <h1 class="title">Dogs</h1>
    <div class="container">
            
        <div class="interest right-layout">
                <div class="image-window">
                
                </div>
            <div class="interest-description2">
                <h2>Embracing Canine Companionship</h2>
                <p>
                    There's something truly magical about the bond between humans and dogs. They have an uncanny ability to lift our spirits, bring joy to our lives, and remind us of the simple pleasures in life. Whether it's the unconditional love they offer or the infectious enthusiasm they exude, there's no denying the special place dogs hold in our hearts.

I've had the privilege of witnessing firsthand the transformative power of canine companionship. From family members who were initially hesitant to embrace dogs to becoming devoted pet parents with a full pack of furry friends, I've seen how these lovable creatures can change lives for the better.

As a former dog trainer, I've had the opportunity to work with dogs of all shapes, sizes, and personalities. From teaching them silly tricks to helping them master essential obedience skills, every moment spent with these amazing animals has been a joyous adventure.</p>
            </div>
        </div>
    </div>

    <script src="static/js/main.js"></script>
</body>
</html>
