<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/">Home</a>
            <a href="coding">Coding</a>
            <a href="hiking">Hiking</a>
            <a href="tech">Tech</a>
            <a href="dogs">Dogs</a>
        </div>
    </div>
    <h1 class="title">Coding</h1>
    <div class="container">
            
        <div class="interest right-layout">
                <div class="image-window">
                
                </div>
            <div class="interest-description2">
                <h2>EmbarkEmbracing the Beauty of the Great Outdoors</h2>
                <p>
                    From the rugged mountains of Mexico to the dense forests that teem with life, the call of the great outdoors has always beckoned to me. As a child, I cherished the moments spent hiking through the majestic peaks with my friends and embarking on thrilling hunts with my grandfather by my side. Those early experiences instilled in me a deep appreciation for the natural world and a love for the freedom and serenity it offers.

Now, as an adult, I find solace and rejuvenation in the simple act of immersing myself in nature. There's something truly magical about breathing in the crisp mountain air, feeling the earth beneath my feet, and letting the tranquility of the wilderness wash over me. Whether it's a leisurely stroll through a sun-dappled forest or a challenging hike to a breathtaking summit, each outdoor excursion fills my soul with a sense of peace and wonder.</p>
            </div>
        </div>
    </div>

    <script src="static/js/main.js"></script>
</body>
</html>
